@import url('https://fonts.googleapis.com/css?family=Aldrich');

#title_div {
  margin: 0 auto;
  width: 1000px;
  background: rgba(50, 50, 50, 0.5);
}

#title{
  text-align: center;
  font-size: 80px;
  font-family: "Aldrich";  
}

#playbutton {
  display: block;
  margin: 0 auto;
  border: 3px dotted black;
  background: blue;
  font-size: 30px;
  color: #fff;
}

#playbutton:hover {
  background: red;
  border: 3px dashed white;
}

#game {
  display: block;
  text-align: center;
  background: rgba(50, 125, 200, 0.5);
}

body {
  background-image: url("https://images8.alphacoders.com/371/371777.jpg");
}